<section class="mat-typography mat-app-background app-frame"
         [ngClass]="themer.isLight ? 'app-light' : 'app-dark'">
    <mat-toolbar color="primary"
                 class="app-toolbar sticky-top rounded-bottom">
        <span class="cursor-pointer"
              routerLink="/">Demos</span>
        <span fxFlex></span>
        <button mat-icon-button
                [ngClass]="themer.isLight ? 'color-amber' : 'color-text'"
                (click)="themer.toggleTheme()">
            <mat-icon *ngIf="themer.isLight">brightness_5</mat-icon>
            <mat-icon *ngIf="!(themer.isLight)">brightness_3</mat-icon>
        </button>
    </mat-toolbar>
    <section class="app-container">
        <mat-drawer-container class="container"
                              autosize
                              fxFlexFill>
            <mat-drawer #drawer
                        class="sidenav"
                        mode="side"
                        [opened]=true>
                <link-card *ngFor="let d of Demos"
                           [name]="d?.name" fxFlex></link-card>
            </mat-drawer>
            <router-outlet></router-outlet>
        </mat-drawer-container>
    </section>
</section>
